ion-slide{
    flex-direction: column;
    height: 20vh;
    background: rgb(39, 45, 54);
}
.bg_class{
     background: #000000;
}

.icon-container{
    display: flex;
    flex-direction: column;
}


ion-content {
  --ion-background-color: linear-gradient(#485563, #29323c);
}

ion-card {
    
  --ion-background-color:white;
  color: #29323c;
}
// hr {
//     border:         none;
//     border-left:    1px solid hsla(200, 10%, 50%,100) !important;
//     //border: 2px solid red !important;
//     height: 5px !important;
//     width: 700px !important;
//     background: #383a3e !important;
//     display: block !important;
//     font-size: 2em !important;
//     opacity: 1 !important;
//     visibility: visible !important;
//   }
ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
} 

.full-image{
    width: 100%;
    height: 100%;
}

ion-icon{
    color: yellow;
    vertical-align: middle;
    visibility: visible !important;
}