
ReadLeadSucced_API/.vs/ReadLeadSucced_API/v16/

ReadLeadSucced_API/ReadLeadSucced_API/bin/Debug/net5.0/

ReadLeadSucced_API/ReadLeadSucced_API/obj/Debug/net5.0/

ReadLeadSucced_API/ReadLeadSucced_API/obj/
