ion-content {
    --ion-background-color: linear-gradient(#485563, #29323c);
}


ion-button{
    position: relative;
    left: 10%;
    margin-bottom: 10px;
    width: 60vw;
}


h2
{
    font-weight: bold !important;
}




.vertical 
{ 
    border-left: 2px solid grey; 
    height: 250px; 
    position:absolute; 
    left: 50%; 
}

.container
{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1px;
    width: 150px;
    height: 300px;
}
/*.ajout
{
    margin-top: 200px;*
}*/
ion-button{
    width: 60vw;
}
ion-icon{
    color: yellow;
    width: 20px;
    margin: auto;
    vertical-align: middle;
    visibility: visible !important;
}






.span-container
{
    margin-top: 1px; 
}