
<ion-content *ngIf="(commande$ | async) as commande">
  <div class="card-up">
  <form [formGroup]="form" (ngSubmit)="update()">
    <ion-card >
      <ion-card-header>
        <h4>
          <ion-label>Modifier l'état de la commande</ion-label>
        </h4>
      </ion-card-header>
      <hr class="solid">
      <ion-card-content>
        <ion-grid>
          <ion-row >
            <ion-col>
              <ion-item lines="full">
                <ion-label position="floating">Libellé </ion-label>
                <ion-input type="text" placeholder="{{commande.etatCommande}}" formControlName="EtatCommande"></ion-input>
              </ion-item>
             </ion-col> 
          </ion-row>
          <ion-row>
            <ion-col >
              <ion-button  expand="block" shape="round" fill="outline" type="submit" class="success">Modifier</ion-button>
              <!-- <ion-button  expand="block" shape="round" fill="outline" (click)="deleteCategorie()">Supprimer</ion-button> -->
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
    </form>
  </div>
</ion-content>
