
<ion-content>  
  <div class="card-up">
    <ion-card >
      <ion-card-header>       
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <h4>Menu administrateur</h4>
        </ion-row>
        <hr class="solid">
      </ion-card-header>
    </ion-card> 

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card [routerLink]="['/admin/recherche-livre']" routerDirection="forward">
            <ion-card-header>
              <h6>Liste des livres</h6>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>          
          <ion-card  [routerLink]="['/admin/recherche-categorie']" routerDirection="forward">
            <ion-card-header>
              <h6>Liste des catégories</h6>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header  [routerLink]="['/admin/recherche-commande']"  routerDirection="forward" >
              <h6>Liste des commandes</h6>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>          
          <ion-card>
            <ion-card-header [routerLink]="['/admin/recherche-utilisateur']" routerDirection="forward">
              <h6>Liste des clients</h6>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header  [routerLink]="['/admin/creation-livre']"  routerDirection="forward" >
              <h6>Créer un livre</h6>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>          
          <ion-card>
            <ion-card-header [routerLink]="['/admin/creation-categorie']" routerDirection="forward">
              <h6>Créer catégorie</h6>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
</ion-content>  