ion-toolbar{
    --background: #454545;
  }
  
  
  .container-image {
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 7px;
  }
  
  .logo{
    width: 15%;
    height: 15%;
  }
  
  .shopping{
    width: 14%;
    height: 14%;
    position: relative;
    left:110px;
  }