<ion-header>

  <ion-toolbar>
    <div class="container-image">
        <div class="logo">
          <img src="../assets/images/logo-readleadsucced.png" />
        </div>
        <div class="shopping">
          <img src="../assets/images/Icon-shopping.png" />
        </div>
        
  </div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>

          <ion-card-header>
            <ion-card-title>Hotel Panama Garden</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
          </ion-card-content>

          <ion-footer>
            <ion-row>
              <ion-col center text-center>
                <button>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>1.5k Likes</div>
                </button>
              </ion-col>
              <ion-col center text-center>
                <button>
                  <ion-icon name="text"></ion-icon>
                  <div>4 Comments</div>
                </button>
              </ion-col>
              <ion-col center text-center>
                <button>
                  <ion-icon name="time"></ion-icon>
                  <div>11h ago</div>
                </button>
              </ion-col>
            </ion-row>
          </ion-footer>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-row>
          <ion-card text-center color="danger">
            <ion-icon name="person"></ion-icon>
            <h2>Profile 1</h2>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card text-center color="danger">
            <ion-icon name="person"></ion-icon>
            <h2>Profile 2</h2>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card text-center color="danger">
            <ion-icon name="person"></ion-icon>
            <h2>Profile 3</h2>
          </ion-card>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card text-center color="danger">
          <ion-icon name="person"></ion-icon>
          <h2>Profile 3</h2>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card text-center color="danger">
          <ion-icon name="person"></ion-icon>
          <h2>Profile 3</h2>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card text-center color="danger">
          <ion-icon name="person"></ion-icon>
          <h2>Profile 3</h2>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card text-center color="danger">
          <ion-icon name="person"></ion-icon>
          <h2>Profile 3</h2>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</section>
</ion-content>
