<ion-header>

  <ion-toolbar>
    <div class="container-image">
        <div class="logo">
          <img src="../assets/images/logo-readleadsucced.png" />
        </div>
        <div class="shopping">
          <img src="../assets/images/Icon-shopping.png" />
        </div>
        
  </div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(livre$ | async) as livre">
  <ion-grid>
    <div class="col col-sm">
      <!-- <h3>{{livre.auteur}}</h3> -->
      <h1>{{livre.titreLivre}}</h1>
      <hr class="solid">
    </div>
    <ion-row>
      <ion-card>
        <ion-row class="">
          <ion-col size="4">
            <div class="col col-sm">
              <ion-img  [src]="detailsLivre.url" class="full-image"></ion-img>
              <span *ngIf="detailsLivre.star >=1">
                <ion-icon classe="iconStar" name="star"></ion-icon>
              </span>
              <span *ngIf="detailsLivre.star >=2">
                <ion-icon classe="iconStar" name="star"></ion-icon>
              </span>
              <span *ngIf="detailsLivre.star >=3">
                <ion-icon classe="iconStar" name="star"></ion-icon>
              </span>
              <span *ngIf="detailsLivre.star >=4">
                <ion-icon classe="iconStar" name="star"></ion-icon>
              </span >
              <span *ngIf="detailsLivre.star >=5">
                <ion-icon classe="iconStar" name="star"></ion-icon>
              </span>
              <p>{{livre.titreLivre}}</p>
            </div>
            <!--<div class="span-container">
              
            </div>-->
          </ion-col>
          <ion-col size="1">
            <div class = "vertical"></div> 
          </ion-col>
          <ion-col size="7">
            <ion-row>
              <ion-col>
              <h3>Prix : {{livre.prixLivreTtc}} €</h3>
              <h5>Toutes taxes comprises</h5>
              <h3 style="color: green;">En Stock</h3>
            </ion-col>
            </ion-row>
            <ion-row class="ajout">
              <ion-col >
                <ion-label>Quantité :{{livre.stockInvLivre}} </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-button expand="bock">Ajouter au panier</ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <div class="">
          <h3>Description</h3>
          <hr>
        </div>
        <div>
          <p>

          </p>
        </div>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <div class="">
          <h3 class="solid">D'autre livre du même auteur ...</h3>
          <hr>
        </div>
        <div>
          <p>
            {{livre.resumeLivre}}
          </p>
        </div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>