
<ion-content *ngIf="(livre$ | async) as livre">
  <div class="card-up">
  <ion-grid>

      <ion-card>
          <ion-row>
            <div>
              <ion-item lines="none">
                <h3>{{livre.titreLivre}}</h3>
              </ion-item> 
            </div>
              <hr class="solid">
              <div>
              <ion-item lines="none">
                  {{livre.editeur.nomEditeur}}
            </ion-item>
          </div>
        </ion-row>
      </ion-card>
    <ion-row>
      <ion-card>
        <ion-row>
          <ion-col class="ion-justify-content-center" size="4">
              <ion-img  [src]="livre.urlImageLivre" class="full-image"></ion-img>
              <span>
                <ion-icon style="zoom: 1.2" classe="iconStar" name="star"></ion-icon>
              </span>
              <span >
                <ion-icon style="zoom: 1.2" classe="iconStar" name="star"></ion-icon>
              </span>
              <span>
                <ion-icon style="zoom: 1.2" classe="iconStar" name="star"></ion-icon>
              </span>
              <span>
                <ion-icon style="zoom: 1.2" classe="iconStar" name="star"></ion-icon>
              </span >
              <span>
                <ion-icon style="zoom: 1.2" classe="iconStar" name="star"></ion-icon>
              </span>
          </ion-col>
          <ion-col size="1">
            <div class="vertical"></div> 
          </ion-col>
          <ion-col size="7">
              <h3 style="margin-top: 10px;">Prix : {{livre.prixLivreTtc | currency:'EUR':'symbol':undefined:'fr-FR' }} <br/> <div style="font-size: x-small;">Toutes taxes comprises</div>  </h3>
              
              <h3 style="color: green;" *ngIf="livre.stockInvLivre > 0" >En Stock</h3>
              <h3 style="color: red" *ngIf="livre.stockInvLivre <= 0">En réaprovisionement</h3>
              <ion-label>Stock disponible : {{livre.stockInvLivre}}</ion-label><br/>
              <ion-item>
                <ion-label>Quantité : </ion-label>
                <ion-input [(ngModel)]="quantite" type="number"></ion-input>
              </ion-item>
            <ion-row *ngIf="livre.stockInvLivre > 0">
              <ion-button (click)="addBasket(livre.idLivre)" expand="bock" >Ajouter au panier</ion-button>
            </ion-row>
            <ion-row *ngIf="!livre.stockInvLivre > 0">
              <ion-button style="background-color: gray!important;" disabled="true" expand="bock" >Ajouter au panier</ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <div class="">
          <ion-item lines="none">
            <h3>Description</h3>
          </ion-item>
          <hr class="solid">
        </div>
        <div>
          <ion-item>
            {{livre.resumeLivre}}
          </ion-item>
        </div>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <div class="">
          <h3 class="solid">D'autre livre du même auteur ...</h3>
          <hr>
        </div>
        <div>
          <ion-slides pager={true} options={slideOpts}>
            <ion-slide>
              <div class="container">
                <img src="../assets/images/montage-rentrée-littéraire.jpg" />
              </div>
            </ion-slide>
            <ion-slide>
              <div class="container">
                <img src="../assets/images/photoLitteraire.jpeg" />
              </div>
            </ion-slide>
            <ion-slide>
              <div class="container">
                <img src="../assets/images/Rien-nest-noir-de-Claire-Berest.jpg" />
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-card>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>