
<ion-col size="12">
  <ion-content *ngIf="panier$ as panier">
    <div class="card-up">
    <ion-card>
      <ion-card-header>       
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <h4>Panier</h4>
        </ion-row>
        <hr class="solid">
      </ion-card-header>
    </ion-card> 
    <ion-card *ngIf="!panierVide">
      <ion-card-content>
          <ion-grid class="ion-align-items-center" *ngFor="let p of (panierLivres$ | async)">
            <ion-row class="ion-align-items-center">
                <ion-col size="2">
                  <ion-img [src]="p.livre.urlImageLivre"></ion-img>
                </ion-col>
                <ion-col size="8">
                  <ion-row class="ion-align-items-center">
                    <ion-label style="text-decoration: underline;" center text-center>{{p.livre.titreLivre + " "}}</ion-label>
                  </ion-row>
                  <ion-row class="ion-align-items-center">
                    <ion-label center text-center>{{p.livre.livreAuteurs[0].auteur.prenomAuteur}} {{p.livre.livreAuteurs[0].auteur.nomAuteur}} </ion-label>
                  </ion-row>
                  <ion-row class="ion-align-items-center">

                  </ion-row>
                </ion-col>
                <ion-col size="2">
                  <ion-icon style="zoom:2.0;" color="danger" (click)="deletePanier(p.idLivre,p.idPanier)" name="trash"></ion-icon>
                </ion-col>
          </ion-row>
          </ion-grid>
          <hr class="solid">

      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="this.panierVide">
      <ion-card-content >
        <ion-img style="height: 300px;" src="../assets/images/empty-basket-rls.png"></ion-img>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <h2>Panier vide</h2>
        </ion-row>
        <hr class="solid">
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="this.panierVide">
      <ion-card-content >
        <hr class="solid">
        <ion-row>
          <ion-col size="12">
            <ion-button [routerLink]="['/livres']"routerDirection="forward" expand="full">
              Continuer mes <br/>
               achats
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card> 
    <ion-card *ngIf="!this.panierVide &&">
      <ion-card-content >
        <hr class="solid">
        <ion-row>
          <ion-col size="6">
            <ion-item>
              {{panier.prixHtPanier}}
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              {{panier.prixTtcPanier}}
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card> 
    <ion-card *ngIf="!this.panierVide">
      <ion-card-content >
        <hr class="solid">
        <ion-row>
          <ion-col size="6">
            <ion-button  [routerLink]="['/livres']"routerDirection="forward">
              Continuer mes <br/>
               achats
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button [routerLink]="['/commande/','p.idPanier']">
              Procéder <br/> 
              à la commande
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card> 
  </div>
  </ion-content>
</ion-col>