<ion-header>
  <ion-toolbar>
    <div class="container-image">
        <div class="logo">
          <img src="../assets/images/logo-readleadsucced.png" />
        </div>
        <div class="shopping">
          <img src="../assets/images/Icon-shopping.png" />
        </div>   
    </div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="livres?.length>0">  
  <ion-list >  

    <ion-card *ngFor="let livres of livres">
      <ion-card-content [routerLink]="['/admin/gestion-livre/', livres.idLivre]">
        <h3>Titre : {{livres.titreLivre}}</h3> 
        <h3>Stock : {{livres.stockInvLivre}}</h3> 
        <ion-icon slot="end"  name="create-outline"></ion-icon>   
      </ion-card-content>
    </ion-card>


   
  </ion-list>  

</ion-content>  