<ion-header>

  <ion-toolbar>
    <div class="container-image">
        <div class="logo">
          <img src="../assets/images/logo-readleadsucced.png" />
        </div>
        <div class="shopping">
          <img src="../assets/images/Icon-shopping.png" />
        </div>
        
  </div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <form [formGroup]="form" (ngSubmit)="login()">
    <ion-card-header>
     <h4>Connexion</h4> 
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label >Identifiant :</ion-label>
        <ion-input type="" formControlName="identifiant" placeholder="Identifiant"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Mot de passe :</ion-label>
        <ion-input  type="password"  formControlName="motDePasse" placeholder="Mot de passe"></ion-input>
      </ion-item>
  
      <br>
      <br>
      <ion-button (click)="login()"  expand="block" shape="round" fill="outline">Connexion</ion-button>
      <br>
      <ion-button color="tertiary" expand="block" shape="round">Inscription</ion-button>
    </ion-card-content>
  </form>
  </ion-card>
</ion-content>

