<ion-app>
    <ion-toolbar>
            <div [routerLink]="['/livres']"routerDirection="forward" class="ion-justify-content-center logo">
              <img src="../assets/images/logo-readleadsucced.png" />
            </div>

        <ion-buttons [routerLink]="['/panier']"routerDirection="forward" slot="end" *ngIf="idClient != null"><ion-icon style="zoom:2.0;" style="color: white;" slot="start" name="basket"></ion-icon></ion-buttons>

        <ion-buttons slot="start">
          <ion-menu-button mode="md" style="color: white;"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
  <ion-menu side="start" menuId="first" contentId="content1" *ngIf="(client$ | async) as client">
      <ion-header *ngIf="idClient != null">
          <ion-toolbar>
              <ion-title>Bonjour, {{client.prenomClient}} </ion-title>
          </ion-toolbar>
      </ion-header>
      <ion-header  *ngIf="idClient == null">
        <ion-toolbar  class="ion-align-items-center" [routerLink]="['/auth/connexion']">
            <ion-title><ion-icon style="color: white; zoom: 1.50;" name="person"></ion-icon> Bonjour, Identifiez-vous </ion-title>
            
        </ion-toolbar>
    </ion-header>
      <ion-content *ngIf="idClient != null">
          <ion-list *ngFor="let pages of navigate">
              <ion-menu-toggle auto-hide="true">
                  <ion-item [routerLink]="pages.url" routerDirection="forward">
                      {{pages.title}}
                  </ion-item>
              </ion-menu-toggle>
          </ion-list>
          <hr class="solid" style="margin-top: 20px;">
          <h5 style="font-weight: bold;">Catégories :</h5>
          
          <ion-list *ngFor="let cate of categories$ | async">
                <ion-menu-toggle auto-hide="true">
                    <ion-item (click)="searchCategorie(cate.idCategorie)" [routerLink]="cate.url" routerDirection="forward">
                        {{cate.libelleCategorie}}
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        <br>
        <br>
        <div *ngIf="idClient != null" (click)="logOut()" class="menu-deconnexion">
            <h4>Déconnexion</h4>
        </div>
      </ion-content>

      <ion-content *ngIf="idLibraire != null">
        <ion-list *ngFor="let pages of navigateAdmin">
            <ion-menu-toggle auto-hide="true">
                <ion-item [routerLink]="pages.url" routerDirection="forward">
                    {{pages.title}}
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
      <br>
      <br>
      <div *ngIf="idLibraire != null" (click)="logOut()" class="menu-deconnexion">
          <h4>Déconnexion</h4>
      </div>
    </ion-content>



  </ion-menu>
  <ion-router-outlet id="content1">

  </ion-router-outlet>

</ion-app>
