<ion-header>
  <ion-toolbar>
    <div class="container-image">
        <div class="logo">
          <img src="../assets/images/logo-readleadsucced.png" />
        </div>
        <div class="shopping">
          <img src="../assets/images/Icon-shopping.png" />
        </div>   
    </div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="(client$ | async)?.length>0">  
  <ion-list >  

    <ion-card *ngFor="let cli of (client$ | async)">
      <ion-card-content>
        <h3>Nom : {{cli.nomClient}}</h3> 
        <h3>Prenom : {{cli.prenomClient}}</h3> 
        <h3>Adresse : {{cli.adresseClient}} à {{cli.villeClient}}</h3> 
        <h3>Adresse mail : {{cli.emailClient}}</h3>     
        <ion-icon slot="end"  name="create-outline"></ion-icon>   
      </ion-card-content>
    </ion-card>


   
  </ion-list>  

</ion-content>  